{{define "base"}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ .PageTitle }}</title>
    <link rel="manifest" href="/static/manifest.webmanifest">

    <meta name="mobile-web-app-capable" content="yes">

    <link href="/static/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image" />
    <link href="/static/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image" />
    <link href="/static/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image" />
    <link href="/static/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image" />
    <link href="/static/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image" />
    <link href="/static/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
    <link href="/static/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#00ac94">
    <meta name="msapplication-navbutton-color" content="#00ac94">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00ac94">

    <meta name="application-name" content="Yatsemirsky Oil">
    <meta name="apple-mobile-web-app-title" content="Yatsemirsky Oil">
    <meta name="msapplication-starturl" content="/">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="/static/font.png">

    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ .Keywords }}">

    <meta name="robots" content="{{ .IndexType }}"/>
    <meta name="googlebot" content="{{ .IndexType }}"/>
    <meta name="yandex" content="{{ .IndexType }}"/>

    <meta property="og:site_name" content="Yatsemirsky Oil">
    {{ if .ProductInfo }}
      <meta name="og:type" content="product">
    {{ end }}


    <meta name="og:title" content="{{ .PageTitle }}">
    <meta name="og:description" content="{{ .Description }}">
    <meta name="og:image" content="{{ .Image }}">

    <script type="text/javascript">
      try{
        document.head.querySelector("meta[name='og:url']").setAttribute("content", document.location.href);
      }catch{}
      function registerServiceWorker() {
        // регистрирует скрипт sw в поддерживаемых браузерах
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/' }).then(() => {

            }).catch(error => {

            });
          }
        }
        registerServiceWorker();
    </script>

    <link rel="apple-touch-icon" href="/static/font.png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script type="text/javascript">
      let PRODUCTID = undefined;
    </script>
  </head>
  <body>
    <div class="order-modal" style="display: none; opacity: 0;">
      <div class="inner-modal">
        <div style="transform: translate3d(100%, 0, 0);" class="success">
          <span>Заказ успешно обработан</span>

          <img src="/static/check-circle-regular.svg" alt="">
        </div>
        <div class="modal-header">
          <p>Создание заказа</p>
          <button type="button" name="button" id="close-order">
            Закрыть
          </button>
        </div>
        <div class="modal-body">

          <div>
            <span>Номер телефона</span>
            <input type="text" autocomplete="off" staticvalue="" id="phone-number" name="" value="">
            <script type="text/javascript">
                $(function() {
                  $('#phone-number').mask('+38(000)000-00-00');
                });
            </script>
          </div>
          <div>
            <span>Форма оплаты</span>
            <select id="payment" name="">
              <option value="prepayment">Предоплата</option>
              <option value="imposed">Наложенный</option>
            </select>
          </div>
          <div>
            <span>Доставка</span>
            <select id="delivery-type">
              <option value="pickup">Самовывоз</option>
              <option value="kurer">Курьером</option>
              <option value="delivery_under_door">Доставка от производителя</option>
              <option value="new_mail">Новая почта в отделение</option>
            </select>
          </div>
          <div id="city" style="display: none;">
            <span>Город</span>
            <input autocomplete="off" staticvalue="" type="text" id="city-name" name="" value="">
            <div style="display: flex; flex-direction: column;" class="address-result">

            </div>
          </div>
          <div id="street" style="display: none;">
            <div>
              <span>Улица</span>
              <input autocomplete="off" type="text" id="street-input" name="" value="">
            </div>

            <div>
              <span>Дом</span>
              <input autocomplete="off" type="text" id="house" name="" value="">
            </div>

            <div>
              <span>Квартира</span>
              <input autocomplete="off" type="text" id="room" name="" value="">
            </div>

          </div>
          <div id="postal" style="display: none;">
            <span>Номер отделения</span>
            <input autocomplete="off" staticvalue="" type="text" id="wirehouse" name="" value="">
            <div style="display: flex; flex-direction: column;" class="warehouse-result">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span></span>
          <button type="button" id="create-order" name="button">Оформить заказ</button>
        </div>
      </div>
      <script type="text/javascript" src="/static/create_order.js"></script>
    </div>

    <div class="wrapper-apple-helper">
      <div class="apple-helper">
        <div class="header">
          <span class="close" id="close-helper"><img src="/static/times-solid.svg" style="width: 20px;height: 20px;"></span>
          <span class="header-span">Устанавливайте приложение Yatsemirsky Oil</span>
        </div>
        <div class="body-helper">
          <p>Нажмите "Поделиться" <img src="/static/apple_share.png" style="width: 20px;height: 20px;"><br>Выберите "На экран Домой"<br><img src="/static/apple_home.png" style="width: 20px;height: 20px;"></p>
          <p>Иконка программы отразится на вашем экране и вы можете в любую минуту воспользоваться им</p>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    document.querySelector("#close-helper").onclick = function(){
      document.querySelector(".wrapper-apple-helper").setAttribute("style", "display: none;");
    }
    const isIos = () => {
      const userAgent = window.navigator.userAgent.toLowerCase();

      return /iphone|ipad|ipod/.test( userAgent );
    }

    const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

    if (isIos() && !isInStandaloneMode()) {
      document.querySelector(".wrapper-apple-helper").setAttribute("style", "display: flex;");
    }
    </script>

    <div class="question-form-img">
      <img id="help-button" src="/static/question-solid.svg" alt="">
    </div>
    <div class="question-success-block">
      <p>Вопрос успешно отправлен</p>
      <img src="/static/check-circle-regular.svg" alt="">
    </div>
    <div class="question-form">

      <div class="question-block">
        <div style="margin-bottom: 50px; border-bottom: 1px solid #9e9e9e;">
          <span>Задать вопрос</span>
        </div>
        <div>
          <span>Ваш Email</span>
          <input type="email" id="email" name="" value="" autocomplete="off">
        </div>
        <div>
          <span>Ваш вопрос</span>
          <textarea name="name" id="question" rows="3" cols="20"></textarea>
        </div>
        <div>
          <button id="send-question">Отправить</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/question_form.js"></script>
    <div class="container">
      <div class="head">
        <span id="index-title" style="cursor: pointer;">Эфирные масла</span>
        <div class="head-inner">
          <img src="/static/font.png" alt="">
        </div>
      </div>

      <div class="body-wrapper">
        <div class="body">
          <div class="col" onclick="open_block('.products')">
            <div class="block-cover"></div>
            <img src="/static/products.png" alt="">
            <span>Продукция</span>
          </div>
          <div class="col" onclick="open_block('.delivery')">
            <div class="block-cover"></div>
            <img src="/static/delivery_and_payment.png" alt="">
            <span>Доставка и оплата</span>
          </div>
          <div class="col" onclick="open_block('.contacts')">
            <div class="block-cover"></div>
            <img src="/static/contacts.png" alt="">
            <span>Контакты</span>
          </div>
        </div>

        <div class="user-block">
          <div class="close-block">
            <img src="/static/chevron-down-solid.svg" alt="">
          </div>
          <div class="products">
            {{ if .Products }}
              {{template "products" .}}
            {{ end }}
          </div>

          <div class="contacts">
            <div class="inner-container">
              <div class="contact-info">

                <div class="founder">
                  <img style="height: 160px;" src="https://www.navigatecommerce.com/wp-content/uploads/2019/05/founder-profile-img.jpg" alt="">
                  <br>
                  <span>Яцемiрський Ярослав Миколайович</span>
                  <br>
                  <span>+38(098) 925-41-56 (Telegram, Viber)</span>
                </div>

              </div>

              <div class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2152.3424198035354!2d30.17435153043702!3d48.98861497934235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDU5JzE5LjAiTiAzMMKwMTAnMzUuNSJF!5e1!3m2!1suk!2sua!4v1619370358798!5m2!1suk!2sua" class="map" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>

          <div class="delivery">

            <div class="inner-container">
              <div>
                <img src="/static/self_delivery.png" alt="">
                <span>Доставка нашем транспортом возможна лишь при заказе объемом свыше 50л</span>
              </div>

              <div>
                <img src="/static/free_delivery.png" alt="">
                <span>Любая покупка по предоплате доставка за наш счет</span>
              </div>

              <div>
                <img src="/static/car_delivery.ico" alt="">
                <span>Место для самовывоза <a href="https://goo.gl/maps/KHc4QiKeneUjqrfn6">Здесь</a></span>
              </div>

            </div>
          </div>
        </div>
        <div class="offline-block">
          <div style="display: flex;flex-direction: column;">
            <span>Нет подключения к сети</span>

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="300.000000pt" height="275.000000pt" viewBox="0 0 300.000000 275.000000"
             preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,275.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M1468 1432 c-1113 -1112 -1138 -1138 -1138 -1175 0 -54 43 -97 97
            -97 37 0 62 24 1175 1138 1137 1136 1138 1137 1138 1178 0 55 -39 94 -96 94
            -39 0 -51 -12 -1176 -1138z"/>
            <path d="M1262 2114 c-343 -47 -673 -184 -962 -401 -77 -58 -100 -128 -61
            -187 43 -65 121 -75 192 -25 293 204 491 295 765 349 128 26 428 38 539 22
            l70 -10 103 101 c56 56 102 105 102 108 0 10 -84 27 -210 44 -132 18 -402 17
            -538 -1z"/>
            <path d="M2260 1865 l-94 -95 44 -17 c25 -9 90 -40 145 -68 89 -45 149 -83
            299 -188 58 -40 116 -34 163 17 46 50 47 110 2 161 -53 60 -363 254 -444 279
            -16 5 -40 -14 -115 -89z"/>
            <path d="M1300 1664 c-225 -33 -435 -114 -637 -247 -115 -75 -141 -119 -113
            -192 18 -48 58 -75 110 -75 40 0 59 8 126 52 158 104 349 183 506 208 l76 12
            128 129 129 129 -115 -1 c-63 -1 -158 -7 -210 -15z"/>
            <path d="M1907 1512 c-53 -53 -97 -101 -97 -105 0 -4 9 -7 20 -7 37 0 215 -62
            302 -106 48 -24 122 -67 165 -95 71 -46 82 -50 122 -46 62 7 102 49 108 114 6
            62 -16 91 -125 161 -118 76 -342 182 -384 182 -7 0 -57 -44 -111 -98z"/>
            <path d="M1460 1065 l-135 -136 45 8 c25 4 110 8 190 7 130 -1 154 -4 230 -29
            47 -15 124 -48 171 -72 96 -51 125 -52 179 -7 61 52 60 137 -1 189 -70 58
            -266 136 -408 160 -136 24 -121 31 -271 -120z"/>
            <path d="M947 1029 c-36 -29 -63 -66 -55 -75 2 -2 29 21 58 51 59 60 57 74 -3
            24z"/>
            <path d="M1480 759 c-59 -11 -118 -55 -155 -114 -26 -42 -30 -58 -30 -119 0
            -82 20 -130 73 -182 49 -48 107 -67 186 -62 126 8 213 94 223 221 14 166 -128
            288 -297 256z"/>
            </g>
            </svg>


            <button type="button" id="to-main" name="button">На главную</button>

          </div>
        </div>
        <script type="text/javascript">
          document.querySelector("#to-main").onclick = function(){
            document.querySelector("#index-title").click();
            document.querySelector(".offline-block").setAttribute("style", "transform: translate3d(0,100%,0);");
          }
        </script>
        <div class="page-block">
          {{ if .ProductInfo }}
            {{ template "product-obj" .}}
          {{ else }}
            <div class="product-info">

            </div>
          {{ end }}
        </div>
      </div>


      <div class="left">
        <img src="/static/chevron-left-solid.svg" alt="">
      </div>
      <div class="right">
        <img src="/static/chevron-right-solid.svg" alt="">
      </div>


    </div>
    <div class="footer">

    </div>

    <script type="text/javascript" src="/static/touch.js"></script>

    <script type="text/javascript">
    let history_of_page = ["/"];
    let current_index = 0;

    let loaded_data = {"products": false};

    const left = document.querySelector(".left");
    const right = document.querySelector(".right");

    const cols = document.querySelectorAll(".col");
    let flex_index = 0;
    let class_list = [".products", ".contacts", ".delivery"];

    function change_block(flex_index){
      for(let i = 0; i < cols.length; i++){
        cols[i].setAttribute("style", "opacity: 0;");
      }
      let s = (cols[0].offsetWidth / 90) * 5;
      cols[flex_index].setAttribute(
        "style",
        "opacity: 1; transform: matrix(1, 0, 0, 1, "+String(flex_index * -cols[0].offsetWidth + s)+", 0);",
      );
    }

    function open_block(class_name, history_controll=true, back_event=false){
      const div = document.querySelector(class_name);
      for(let i = 0; i < class_list.length; i++){
        document.querySelector(class_list[i]).setAttribute("style", "opacity: 0;");
      }
      div.setAttribute(
        "style",
        "opacity: 1; z-index: 10;",
      );
      document.querySelector(".user-block").setAttribute("style", "transform: translate3d(0, -100%, 0);height: 100%;");

      if(history_controll == true){
        if(class_name == ".products"){
          if(loaded_data[name] == false){
            document.querySelector(".products").innerHTML = '<span style="font-size: 2rem; text-align: center; display: block; margin-top: 100px;">Loading...</span>';

          }

          load_data("products");
          if(back_event == false){
            window.history.pushState({
              "class-name": ".products", "title": "Эфирные масла от производителя"},
              "Эфирные масла от производителя",
              "/products");
            current_index += 1;
          }

        }
      }

    }
    window.onpopstate = function(){
      const path_name = window.location.pathname;

      let index = history_of_page.indexOf(path_name);
      const state = window.history.state;

      if(index != current_index){
        if(path_name != "/" && path_name.indexOf("/product_id/") == -1){
          document.querySelector(".product-info").setAttribute("style", "");
          open_block(state["class-name"], true, true);
        }
        else if(path_name.indexOf("/product_id/") != -1){
          document.querySelector(".product-info").setAttribute("style", "transform: translate3d(0, 0, 0)");
        }
        else{
          close_function(null, false);
          document.querySelector(".product-info").setAttribute("style", "");
        }
      }
      else if(index == current_index && path_name == "/"){
        close_function(null, false);
        document.querySelector(".product-info").setAttribute("style", "");
      }
      if(index != -1){
        current_index = index;
      }

    }

    async function load_data(name){
      if(loaded_data[name] == false){
        try{
         let response = await fetch("/"+name, {method: "POST"});
         const html = await response.text();

         let parser = new DOMParser();
         let doc = parser.parseFromString(html, 'text/html');

         const inner_html = doc.querySelector("."+name).innerHTML;
         document.querySelector("."+name).innerHTML = inner_html;

         loaded_data[name] = true;
        }
        catch{
          document.querySelector(".offline-block").setAttribute("style", "transform: translate3d(0,0,0); opacity: 1;");
        }

      }
    }

    {{ if .Products }}
      loaded_data["products"] = true;
      history_of_page[0] = "/products";
      open_block(".products", false);
      window.history.replaceState({
        "class-name": ".products", "title": "Эфирные масла от производителя"},
        "Эфирные масла от производителя",
        "/products");
    {{ end }}

    if(window.innerWidth <= 500){
      change_block(flex_index);
    }

    document.querySelector(".close-block").onclick = close_function;
    document.querySelector("#index-title").onclick = function(e){
      close_function(e, true);
      document.querySelector(".product-info").setAttribute("style", "");
    }

    function close_function(e, click_switch=true){

      if(click_switch == true){
        current_index += 1;
        window.history.pushState({}, "Essentinal oils", "/");
      }

      for(let i = 0; i < class_list.length; i++){
        document.querySelector(class_list[i]).setAttribute("style", "opacity: 0;");
        document.querySelector(".user-block").setAttribute("style", "transform: translate3d(0, 0, 0);");
      }
    }
    window.onresize = function(e){
      let width = e.currentTarget.innerWidth;
      if(width <= 500){
        change_block(flex_index);
      }
      else{
        for(let i = 0; i < cols.length; i++){
          cols[i].setAttribute("style", "");
        }
      }
    }

    left.onclick = function(){
      flex_index -= 1;

      if(flex_index < 0){
        flex_index = cols.length - 1;
      }
      change_block(flex_index);
    }

    right.onclick = function(){
      flex_index += 1;

      if(flex_index > cols.length - 1){
        flex_index = 0;
      }
      change_block(flex_index);
    }

    function check_capacity_error(capacity){
      let block = null;
      if(Number(capacity.value) < 100){
        block = document.createElement("div");
        block.setAttribute("id", "error");

        let span = document.createElement("span");
        span.setAttribute("style", "color: red;");
        span.innerText = "Минимальный объем заказа 100 мл";
        let br = document.createElement("br");

        block.append(br);
        block.append(span)

        let pdiv = capacity.parentElement;
        let error_block = pdiv.querySelector("#error");
        if(error_block != undefined){
          error_block.remove();
        }

        pdiv.append(block);
      }
      else{
        let pdiv = capacity.parentElement;
        let error_block = pdiv.querySelector("#error");
        if(error_block != undefined){
          error_block.remove();
        }
      }
      return block;
    }

    let capacity = document.querySelector("#capacity");
    try{
      capacity.oninput = function(){
        let num = Number(capacity.value);
        let p = document.querySelector("#price");

        let n = Number(p.getAttribute("price")) * num;
        document.querySelector("#total").innerText = "К оплате: " + String(Math.round(n)) + " UAH";

        check_capacity_error(capacity);
      }
    }catch{}

    function open_modal(){
      document.querySelector(".inner-modal").setAttribute("style", "");
      document.querySelector(".success").setAttribute("style", "transform: translate3d(100%, 0, 0);");
      let capacity = document.querySelector("#capacity");

      if(Number(capacity.value) <= 50000){
        document.querySelector("option[value=delivery_under_door]").setAttribute("style", "display: none;");
      }else{
        document.querySelector("option[value=delivery_under_door]").setAttribute("style", "");
      }

      capacity.oninput = function(){
        let num = Number(capacity.value);
        let p = document.querySelector("#price");

        let n = Math.round(Number(p.getAttribute("price")) * num);
        document.querySelector("#total").innerText = "К оплате: " + String(n) + " UAH";

        check_capacity_error(capacity);
      }

      let r = check_capacity_error(capacity);
      if(r == null){
        let val = document.querySelector("#total").innerText;
        document.querySelector(".modal-footer span").innerText = val;

        document.querySelector(".order-modal").setAttribute("style", "display: block; opacity: 1");
      }

    }

    async function get_info(url, id, class_name){
      try{
        let response = await fetch(url+id, {method: "POST"});

        let html = await response.text();

        let parser = new DOMParser();
        let doc = parser.parseFromString(html, "text/html");

        const inner_html = doc.querySelector("."+class_name).innerHTML;
        let info = document.querySelector("."+class_name);
        let title = doc.querySelector("h1").innerText;

        info.innerHTML = inner_html;
        let prd_info = document.querySelector(".product-info");

        if(prd_info != undefined){
          prd_info.touchcancel = touchcancel_handler;
          prd_info.ontouchmove = function(e){
            touch_move_handler(e, false);
          }
          prd_info.ontouchstart = touch_start_handler;
        }

        let capacity = document.querySelector("#capacity");

        capacity.oninput = function(){
          let num = Number(capacity.value);
          let p = document.querySelector("#price");

          let n = Number(p.getAttribute("price")) * num;
          document.querySelector("#total").innerText = "К оплате: " + String(Math.round(n)) + " UAH";

          check_capacity_error(capacity);
        }

        info.setAttribute(
          "style",
          "transform: translate3d(0, 0, 0);",
        );
        window.history.pushState({"html": html},
          title,
          url+id,
        );
        history_of_page.push(url+id);
        current_index += 1;

      }
      catch{
        document.querySelector(".offline-block").setAttribute("style", "transform: translate3d(0,0,0); opacity: 1;");
      }
    }


    function choose_product(id){
      PRODUCTID = id;
      get_info("/product_id/", id, "product-info");
    }

    </script>
  </body>

</html>

{{end}}
